<h4>Editar Configuração</h4>

<%= render 'form', configuration: @configuration %>

<%= link_to 'Visualizar', @configuration, class: 'waves-effect waves-light btn blue-grey' %> |
<%= link_to 'Voltar', configurations_path, class: 'waves-effect waves-light btn blue-grey' %>
