<h4>Editar Receita</h4>

<%= render 'form', revenue: @revenue %>

<%= link_to 'Visualizar', @revenue, class: 'waves-effect waves-light btn blue-grey' %> |
<%= link_to 'Voltar', revenues_path, class: 'waves-effect waves-light btn blue-grey' %>
