<h4>Editar Categoria</h4>

<%= render 'form', category: @category %>

<%= link_to 'Visualizar', @category, class: 'waves-effect waves-light btn blue-grey' %> |
<%= link_to 'Voltar', categories_path, class: 'waves-effect waves-light btn blue-grey' %>
